---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Death Monkeys</title>
  </head>
  <body>
    <h1>DEATH MONKEYS</h1>
  </body>
</html>
